:root {
  --accent: tomato;

  --sp-0000: 0.125rem;
  --sp-000: 0.25rem;
  --sp-00: 0.5rem;
  --sp-0: 0.75rem;
  --sp-1: 1rem;
  --sp-2: 1.25rem;

  --ff: system-ui, sans-serif;
  --lh-sm: 1.2;
  --lh: 1.5;

  --fs-00: 0.75rem;
  --fs-0: 0.875rem;
  --fs-1: 1rem;
  --fs-2: 1.125rem;
  --fs-3: 1.25rem;

  --body-ff: var(--ff);
  --body-lh: var(--lh);
  --body-fs: var(--fs-0);

  --h-lh: inherit;
  --h-fs: var(--fs-1);

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    accent-color: var(--accent);
    --surface-0: oklch(.2 0 0);
    --surface-1: oklch(.25 0 0);
    --surface-2: oklch(.30 0 0);
    --text-0: oklch(.55 0 0);
    --text-1: oklch(.88 0 0);
    --text-2: oklch(.98 0 0);
  }

  @media (prefers-color-scheme: light) {
    color-scheme: dark;
    accent-color: var(--accent);
    --surface-0: oklch(.98 0 0);
    --surface-1: oklch(.75 0 0);
    --surface-2: oklch(.70 0 0);
    --text-0: oklch(.45 0 0);
    --text-1: oklch(.12 0 0);
    --text-2: oklch(.02 0 0);
  }
}