:root {
  --light-h: 60deg;
  --light-s: 10%;
  --light-l: 88%;
  --light-hsl: 60deg, 10%, 88%;
  --light: hsl(60deg, 10%, 88%);
  --dark-h: 0deg;
  --dark-s: 0%;
  --dark-l: 11%;
  --dark-hsl: 0deg, 0%, 11%;
  --dark: hsl(0deg, 0%, 11%);
  --primary-h: 69deg;
  --primary-s: 25%;
  --primary-l: 30%;
  --primary-hsl: 69deg, 25%, 30%;
  --primary: hsl(69deg, 25%, 30%);
  --secondary-h: 65deg;
  --secondary-s: 9%;
  --secondary-l: 75%;
  --secondary-hsl: 65deg, 9%, 75%;
  --secondary: hsl(65deg, 9%, 75%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3NyYy9zY3NzL2Jhc2UvX3Jvb3Quc2NzcyIsIi4uLy4uL3NyYy9zY3NzL2Fic3RyYWN0L19jc3MtdmFycy5zY3NzIiwiLi4vLi4vc3JjL3Njc3MvYmFzZS9fcmVzZXQuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQTtFQ09JO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFKQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBSkE7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUpBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7OztBQ1pKO0VBQ0U7OztBQUdGO0VBQ0U7RUFDQTs7O0FBSUE7RUFERjtJQUVJIiwiZmlsZSI6InNhbmRib3guY3NzIiwic291cmNlUm9vdCI6IiJ9 */