footer.app-footer
    h2 Sandbox Css
    div
        h3 Repo:
        a(href="https://github.com/RDDelValle/sandbox-css" target="_blank") https://github.com/RDDelValle/sandbox-css
    div
        h3 Version:
        p 1.0.0
    div
        h3 License:
        a(href="https://github.com/RDDelValle/sandbox-css/blob/main/LICENSE" target="_blank") MIT
